Code/2013-2014/TAMAM/Code/ADS.Tamam/Core/ADS.Common/Service References/ServiceReferences/ConfigurationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ADS.Tamam.Services.Configuration/ConfigurationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ADS.Tamam.Services.Configuration/ConfigurationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ADS.Tamam.Services.Configuration/ConfigurationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigurationService_IsInitialized_InputMessage">
    <wsdl:part name="parameters" element="tns:IsInitialized" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_IsInitialized_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsInitializedResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValue" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValues" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetValue" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IConfigurationService">
    <wsdl:operation name="IsInitialized">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/IsInitialized" message="tns:IConfigurationService_IsInitialized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/IsInitializedResponse" message="tns:IConfigurationService_IsInitialized_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetValue" message="tns:IConfigurationService_GetValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetValueResponse" message="tns:IConfigurationService_GetValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetValues" message="tns:IConfigurationService_GetValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetValuesResponse" message="tns:IConfigurationService_GetValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SetValue" message="tns:IConfigurationService_SetValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SetValueResponse" message="tns:IConfigurationService_SetValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConfigurationService" type="tns:IConfigurationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsInitialized">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/IsInitialized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValue">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValues">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetValue">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SetValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="BasicHttpBinding_IConfigurationService" binding="tns:BasicHttpBinding_IConfigurationService">
      <soap:address location="http://localhost/ADS.Tamam.Services.Configuration/ConfigurationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>